<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.coreDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\admin\source\repos\CoreZapatos\CoreZapatos\coreDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.ZapatosDBConnectionString"
            connectionString="Data Source=DESKTOP-VBHK6Q1;Initial Catalog=ZapatosDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.dsaDataSet" connectionString="Data Source=DESKTOP-VBHK6Q1;Initial Catalog=dsa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>