<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.dsaDataSet" connectionString="Data Source=DESKTOP-VBHK6Q1;Initial Catalog=dsa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>